.wrapper {
  display: flex;

  .time-axis {
    width: 20%;

    .frame {
      font-size: 10px;
      text-align: right;
      position: relative;

      .time {
        position: absolute;
        top: -6px;
        right: 5px;
      }
    }
  }

  .content {
    width: 80%;
    user-select: none;
    position: relative;

    .actual-position {
      position: absolute;
      height: 2px;
      width: 100%;
      background-color: rgba(0, 128, 0, 0.57);
    }

    .selected {
      width: 100%;
      position: absolute;
      background-color: rgba(0, 128, 0, 0.57);
    }

    .frame {
      border-top: 1px solid rgba(0, 0, 0, 0.30);
    }
  }

  .frame {
    box-sizing: border-box;
    z-index: 2;
  }
}
