.wrapper {
  height: 95vh;
  box-sizing: border-box;;
}

.selection-content {
  display: flex;
  height: 100%;
  margin-top: 20px;

  ms-day-picker {
    display: block;
    height: 100%;

    &.selected-date {
      width: 50%;
      margin: 0px 20px;
    }
  }

  ms-day-overview-plan {
    width: 50%;
    height: 60%;
    overflow: auto;
  }
}

.time-panel {
  display: flex;

  * {
    margin: 0px 5px;
  }
}
