<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{selectedDate}}
  </h1>

</div>

<div class="time-panel">
  <ms-time-picker [label]="'Starting'"
                  [time]="startingTime"
                  (onTimeChanges)="onStartTimeChange($event)"></ms-time-picker>
  <ms-time-picker [label]="'Ending'" [time]="endingTime"></ms-time-picker>
  <ms-time-picker [label]="'Duration'" [time]="endingTime - startingTime"></ms-time-picker>
</div>

<div class="selection-content">
  <ms-day-picker
    [ngClass]="{'selected-date': selectedDate}"
    [locale]="locale"
    [month]="month"
    (onDaySelected)="onDaySelected($event)"
  ></ms-day-picker>
  <ms-day-overview-plan
    *ngIf="selectedDate"
    [granularity]="30"
    [startTime]="startingTime"
    (onTimeSelected)="onTimeSelected($event)"></ms-day-overview-plan>
</div>
